<div class="container-sm border border-dark rounded mt-4 p-4">
  <div class="input-group mb-3">
    <input  #inputElement type="text" class="form-control" [placeholder]="placeholder" aria-describedby="button-addon2">
    <button class="btns" type="button" id="button-addon2" (click)="OnAdd(inputElement.value)">Button</button>
  </div>

  <h5>Todo items</h5>

  <ul class="list-group">

    <li *ngFor="let todo of todos" class="list-group-item d-flex justify-content-between">
      <div>
        <input class="form-check-input me-1" type="checkbox" [checked]='todo.done'>
        <input class="form-check-label Inp"
               [ngClass]="{'todo-title--readonly' : !todo.isEditing}"
               [readOnly]="!todo.isEditing"
               [value]="todo.title"
               #todoTitle
        />
      </div>

      <div *ngIf="todo.isEditing" class="action-container">
        <i class="bi bi-x-circle me-2 cancel-icon" (click)="OnCancel(todo)"></i>
        <i class="bi bi-floppy save-icon" (click)="OnSave(todo, todoTitle.value)"></i>
      </div>

      <div *ngIf="!todo.isEditing" class="action-container">
        <i class="bi bi-pencil me-2 edit-icon" (click)="OnEdit(todo)"></i>
        <i class="bi bi-trash delete-icon" (click)="OnDelete(todo.id)"></i>
      </div>

    </li>
  </ul>

</div>
